---
layout: default
title: Arquivos
sitemap:
  changefreq: daily
  priority: 0.8
  lastmod: 2015-01-14T12:17:32-03:00
---

<section class="archives">
	<h2>Arquivos</h2>
	{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
    <p class="year" id="{{ this_year }}-ref">{{this_year}}</p>
    <div>
    {% endif %}
			<article class="post">
				<p class="date">
				 	{% assign m = post.date | date: "%-m" %}
					{{ post.date | date: "%d de" }}
					{% case m %}
					  {% when '1' %}Janeiro
					  {% when '2' %}Fevereiro
					  {% when '3' %}Março
					  {% when '4' %}Abril
					  {% when '5' %}Maio
					  {% when '6' %}Junho
					  {% when '7' %}Julho
					  {% when '8' %}Agosto
					  {% when '9' %}Setembro
					  {% when '10' %}Outubro
					  {% when '11' %}Novembro
					  {% when '12' %}Dezembro
					{% endcase %}
				</p>
	    	<header>
					<h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
				</header>
				<p>
					<a href="{{ BASE_PATH }}{{ post.url }}">
						{{ post.content | strip_html | truncatewords:30}}
					</a>
				</p>
			</article>

    {% if forloop.last %}
    </div>
    {% else %}
        {% if this_year != next_year %}
       </div>
        <p class="year" id="{{ next_year }}-ref">{{next_year}}</p class="year">
        <div class="jehe">
        {% endif %}
    {% endif %}
  {% endfor %}
</section>

