body {
	color: #1F1F1F;
  font-size: 100%;
  line-height: 1.5;
  font-family: Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

// ÍCONES DE REDES SOCIAIS ================================================
.icon-github:before { 
	content: $github;
} 
.icon-twitter:before { 
	content: $twitter;
}
.icon-facebook:before { 
	content: $facebook;
}
.icon-gplus:before { 
	content: $gplus;
}