// ÍCONES DE REDES SOCIAIS ================================================
.icon-github:before { 
	content: $github;
} 
.icon-twitter:before { 
	content: $twitter;
}
.icon-facebook:before { 
	content: $facebook;
}
.icon-gplus:before { 
	content: $gplus;
}