.main-content {
	@extend %container;
	@extend %clearfix;

	@include breakpoint(sm) {
		padding-top: 150px;
	};

	h3 {
		font-size: em(16);
	}

	a {
		color: $secondary-color;
		text-decoration: none;

		&:hover {
			color: rgba($secondary-color,0.8);
		}
	}

}