.post {
	@extend %post-area;
	padding-right: 2%;

	h2 {
	
		@extend %title-margin;

		font-size: em(30);
		text-transform: none;
	}

	.highlight {
		margin: 15px 0;
	}

	.date {
		color: #888;
		font-size: em(12);
		margin: 5px 0;
	}
}