/* line 9, ../scss/vendor/normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 19, ../scss/vendor/normalize.scss */
body {
  margin: 0;
}

/* line 30, ../scss/vendor/normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 50, ../scss/vendor/normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 63, ../scss/vendor/normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 73, ../scss/vendor/normalize.scss */
[hidden],
template {
  display: none;
}

/* line 85, ../scss/vendor/normalize.scss */
a {
  background: transparent;
}

/* line 93, ../scss/vendor/normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 105, ../scss/vendor/normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 113, ../scss/vendor/normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 122, ../scss/vendor/normalize.scss */
dfn {
  font-style: italic;
}

/* line 131, ../scss/vendor/normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 140, ../scss/vendor/normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 149, ../scss/vendor/normalize.scss */
small {
  font-size: 80%;
}

/* line 157, ../scss/vendor/normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 165, ../scss/vendor/normalize.scss */
sup {
  top: -0.5em;
}

/* line 169, ../scss/vendor/normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 180, ../scss/vendor/normalize.scss */
img {
  border: 0;
}

/* line 188, ../scss/vendor/normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 199, ../scss/vendor/normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 207, ../scss/vendor/normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 217, ../scss/vendor/normalize.scss */
pre {
  overflow: auto;
}

/* line 225, ../scss/vendor/normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 248, ../scss/vendor/normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 262, ../scss/vendor/normalize.scss */
button {
  overflow: visible;
}

/* line 273, ../scss/vendor/normalize.scss */
button,
select {
  text-transform: none;
}

/* line 286, ../scss/vendor/normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 298, ../scss/vendor/normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 307, ../scss/vendor/normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 318, ../scss/vendor/normalize.scss */
input {
  line-height: normal;
}

/* line 330, ../scss/vendor/normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 342, ../scss/vendor/normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 353, ../scss/vendor/normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 366, ../scss/vendor/normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 375, ../scss/vendor/normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 386, ../scss/vendor/normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 395, ../scss/vendor/normalize.scss */
textarea {
  overflow: auto;
}

/* line 404, ../scss/vendor/normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 415, ../scss/vendor/normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 420, ../scss/vendor/normalize.scss */
td,
th {
  padding: 0;
}

/* line 1, ../scss/vendor/syntax.scss */
.highlight {
  background: #ffffff;
}

/* line 2, ../scss/vendor/syntax.scss */
.highlight .c {
  color: #999988;
  font-style: italic;
}

/* line 3, ../scss/vendor/syntax.scss */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

/* line 4, ../scss/vendor/syntax.scss */
.highlight .k {
  font-weight: bold;
}

/* line 5, ../scss/vendor/syntax.scss */
.highlight .o {
  font-weight: bold;
}

/* line 6, ../scss/vendor/syntax.scss */
.highlight .cm {
  color: #999988;
  font-style: italic;
}

/* line 7, ../scss/vendor/syntax.scss */
.highlight .cp {
  color: #999999;
  font-weight: bold;
}

/* line 8, ../scss/vendor/syntax.scss */
.highlight .c1 {
  color: #999988;
  font-style: italic;
}

/* line 9, ../scss/vendor/syntax.scss */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

/* line 10, ../scss/vendor/syntax.scss */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

/* line 11, ../scss/vendor/syntax.scss */
.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}

/* line 12, ../scss/vendor/syntax.scss */
.highlight .ge {
  font-style: italic;
}

/* line 13, ../scss/vendor/syntax.scss */
.highlight .gr {
  color: #aa0000;
}

/* line 14, ../scss/vendor/syntax.scss */
.highlight .gh {
  color: #999999;
}

/* line 15, ../scss/vendor/syntax.scss */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

/* line 16, ../scss/vendor/syntax.scss */
.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}

/* line 17, ../scss/vendor/syntax.scss */
.highlight .go {
  color: #888888;
}

/* line 18, ../scss/vendor/syntax.scss */
.highlight .gp {
  color: #555555;
}

/* line 19, ../scss/vendor/syntax.scss */
.highlight .gs {
  font-weight: bold;
}

/* line 20, ../scss/vendor/syntax.scss */
.highlight .gu {
  color: #aaaaaa;
}

/* line 21, ../scss/vendor/syntax.scss */
.highlight .gt {
  color: #aa0000;
}

/* line 22, ../scss/vendor/syntax.scss */
.highlight .kc {
  font-weight: bold;
}

/* line 23, ../scss/vendor/syntax.scss */
.highlight .kd {
  font-weight: bold;
}

/* line 24, ../scss/vendor/syntax.scss */
.highlight .kp {
  font-weight: bold;
}

/* line 25, ../scss/vendor/syntax.scss */
.highlight .kr {
  font-weight: bold;
}

/* line 26, ../scss/vendor/syntax.scss */
.highlight .kt {
  color: #445588;
  font-weight: bold;
}

/* line 27, ../scss/vendor/syntax.scss */
.highlight .m {
  color: #009999;
}

/* line 28, ../scss/vendor/syntax.scss */
.highlight .s {
  color: #dd1144;
}

/* line 29, ../scss/vendor/syntax.scss */
.highlight .na {
  color: teal;
}

/* line 30, ../scss/vendor/syntax.scss */
.highlight .nb {
  color: #0086b3;
}

/* line 31, ../scss/vendor/syntax.scss */
.highlight .nc {
  color: #445588;
  font-weight: bold;
}

/* line 32, ../scss/vendor/syntax.scss */
.highlight .no {
  color: teal;
}

/* line 33, ../scss/vendor/syntax.scss */
.highlight .ni {
  color: purple;
}

/* line 34, ../scss/vendor/syntax.scss */
.highlight .ne {
  color: #990000;
  font-weight: bold;
}

/* line 35, ../scss/vendor/syntax.scss */
.highlight .nf {
  color: #990000;
  font-weight: bold;
}

/* line 36, ../scss/vendor/syntax.scss */
.highlight .nn {
  color: #555555;
}

/* line 37, ../scss/vendor/syntax.scss */
.highlight .nt {
  color: navy;
}

/* line 38, ../scss/vendor/syntax.scss */
.highlight .nv {
  color: teal;
}

/* line 39, ../scss/vendor/syntax.scss */
.highlight .ow {
  font-weight: bold;
}

/* line 40, ../scss/vendor/syntax.scss */
.highlight .w {
  color: #bbbbbb;
}

/* line 41, ../scss/vendor/syntax.scss */
.highlight .mf {
  color: #009999;
}

/* line 42, ../scss/vendor/syntax.scss */
.highlight .mh {
  color: #009999;
}

/* line 43, ../scss/vendor/syntax.scss */
.highlight .mi {
  color: #009999;
}

/* line 44, ../scss/vendor/syntax.scss */
.highlight .mo {
  color: #009999;
}

/* line 45, ../scss/vendor/syntax.scss */
.highlight .sb {
  color: #dd1144;
}

/* line 46, ../scss/vendor/syntax.scss */
.highlight .sc {
  color: #dd1144;
}

/* line 47, ../scss/vendor/syntax.scss */
.highlight .sd {
  color: #dd1144;
}

/* line 48, ../scss/vendor/syntax.scss */
.highlight .s2 {
  color: #dd1144;
}

/* line 49, ../scss/vendor/syntax.scss */
.highlight .se {
  color: #dd1144;
}

/* line 50, ../scss/vendor/syntax.scss */
.highlight .sh {
  color: #dd1144;
}

/* line 51, ../scss/vendor/syntax.scss */
.highlight .si {
  color: #dd1144;
}

/* line 52, ../scss/vendor/syntax.scss */
.highlight .sx {
  color: #dd1144;
}

/* line 53, ../scss/vendor/syntax.scss */
.highlight .sr {
  color: #009926;
}

/* line 54, ../scss/vendor/syntax.scss */
.highlight .s1 {
  color: #dd1144;
}

/* line 55, ../scss/vendor/syntax.scss */
.highlight .ss {
  color: #990073;
}

/* line 56, ../scss/vendor/syntax.scss */
.highlight .bp {
  color: #999999;
}

/* line 57, ../scss/vendor/syntax.scss */
.highlight .vc {
  color: teal;
}

/* line 58, ../scss/vendor/syntax.scss */
.highlight .vg {
  color: teal;
}

/* line 59, ../scss/vendor/syntax.scss */
.highlight .vi {
  color: teal;
}

/* line 60, ../scss/vendor/syntax.scss */
.highlight .il {
  color: #009999;
}

/* line 4, ../scss/helpers/_container.scss */
.container, .top, .main-header, .main-content, .main-footer .info, .comments, .no-js {
  margin: 0 auto;
  width: 1142px;
}
@media (max-width: 1200px) {
  /* line 4, ../scss/helpers/_container.scss */
  .container, .top, .main-header, .main-content, .main-footer .info, .comments, .no-js {
    padding: 0 2%;
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 4, ../scss/helpers/_container.scss */
  .container, .top, .main-header, .main-content, .main-footer .info, .comments, .no-js {
    padding: 0 1%;
  }
}

/* line 9, ../scss/vendor/bourbon/addons/_clearfix.scss */
.top::after, .main-header .main-nav::after, .main-content::after, .archives div::after, .main-footer .info::after, .search-results ul::after {
  clear: both;
  content: "";
  display: table;
}

/* line 4, ../scss/helpers/_post_area.scss */
.featured-posts, .post, .search-results {
  width: 100%;
  float: left;
}
/* line 8, ../scss/helpers/_post_area.scss */
.featured-posts p, .post p, .search-results p {
  color: #555;
  font-size: 1.125em;
  line-height: 1.8;
}

/* line 5, ../scss/helpers/_title_margin.scss */
.archives h2, .post h2, .search-results .count, .about h2 {
  border-bottom: 1px solid #ccc;
  font-size: 1.5em;
  margin: 0 0 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

/* line 1, ../scss/core/reset.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../scss/core/reset.scss */
ol,
ul,
li {
  list-style: none;
}

/* line 1, ../scss/core/base.scss */
body {
  color: #1F1F1F;
  font-size: 100%;
  line-height: 1.5;
  font-family: Helvetica, Arial, serif, sans-serif;
}

/* line 8, ../scss/core/base.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

/* line 13, ../scss/core/base.scss */
.icon-github:before {
  content: "\e808";
}

/* line 16, ../scss/core/base.scss */
.icon-twitter:before {
  content: "\e807";
}

/* line 19, ../scss/core/base.scss */
.icon-facebook:before {
  content: "\e805";
}

/* line 22, ../scss/core/base.scss */
.icon-gplus:before {
  content: "\e806";
}

/* line 34, ../scss/core/base.scss */
::-moz-selection {
  color: white;
  background: #00b6b6;
  text-shadow: none;
}

/* line 34, ../scss/core/base.scss */
::selection {
  color: white;
  background: #00b6b6;
  text-shadow: none;
}

@font-face {
  font-family: fontello;
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/fontello.eot");
  src: url("/assets/fonts/fontello.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/fontello.woff") format("woff"), url("/assets/fonts/fontello.ttf") format("truetype"), url("/assets/fonts/fontello.svg?fontello") format("svg");
}
/* line 24, ../scss/core/typography.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}

/* line 1, ../scss/modules/header.scss */
.header {
  background-color: #B8B8B8;
  background-image: url(images/subtle_dots.png);
  box-shadow: 0 0 10px;
  margin-bottom: 40px;
  width: 100%;
}
/* line 8, ../scss/modules/header.scss */
.header .wrap-header {
  background: #010101;
}
@media (max-width: 768px) {
  /* line 1, ../scss/modules/header.scss */
  .header {
    margin: 0;
    position: fixed;
    z-index: 10;
  }
}

/* line 19, ../scss/modules/header.scss */
.top {
  padding: 5px 0;
}
@media (max-width: 1200px) {
  /* line 19, ../scss/modules/header.scss */
  .top {
    padding: 0.3125em 2%;
  }
}
/* line 30, ../scss/modules/header.scss */
.top > ul {
  float: left;
}
/* line 33, ../scss/modules/header.scss */
.top > ul > li {
  display: inline;
}
/* line 36, ../scss/modules/header.scss */
.top > ul a {
  color: #fff;
  font-size: 1.125em;
  text-decoration: none;
  vertical-align: middle;
}
/* line 42, ../scss/modules/header.scss */
.top > ul a:hover {
  color: #00b6b6;
}
@media (max-width: 1200px) {
  /* line 30, ../scss/modules/header.scss */
  .top > ul {
    display: none;
  }
}
/* line 51, ../scss/modules/header.scss */
.top .pull-right {
  display: block;
  float: right;
  position: relative;
}
/* line 56, ../scss/modules/header.scss */
.top .pull-right fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
/* line 62, ../scss/modules/header.scss */
.top .pull-right input[type="search"]::-webkit-search-decoration,
.top .pull-right input[type="search"]::-webkit-search-cancel-button,
.top .pull-right input[type="search"]::-webkit-search-results-button,
.top .pull-right input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/* line 69, ../scss/modules/header.scss */
.top .pull-right input[type="search"] {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-color: #666;
  border: none;
  color: #fff;
  font-size: 1em;
  padding: 5px 25px 5px 5px;
  width: 80px;
}
/* line 80, ../scss/modules/header.scss */
.top .pull-right input[type="search"]:focus {
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  width: 200px;
}
/* line 86, ../scss/modules/header.scss */
.top .pull-right button[type="submit"] {
  background: url(images/icons/search.png) left 2px no-repeat;
  background-color: #666;
  border: #666;
  height: 26px;
  margin: 1px 1px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 26px;
}

/* line 1, ../scss/modules/main_header.scss */
.main-header {
  display: table;
  padding: 15px 0;
}
/* line 10, ../scss/modules/main_header.scss */
.main-header a {
  color: #1F1F1F;
  text-decoration: none;
}
/* line 15, ../scss/modules/main_header.scss */
.main-header h1 {
  display: table-cell;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2.375em;
  margin: 0;
  width: 200px;
}
/* line 22, ../scss/modules/main_header.scss */
.main-header h1 > a:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #00b6b6;
}
@media (max-width: 1200px) {
  /* line 15, ../scss/modules/main_header.scss */
  .main-header h1 {
    text-align: center;
  }
}
/* line 33, ../scss/modules/main_header.scss */
.main-header .main-nav {
  padding-top: 10px;
  float: right;
}
@media (max-width: 1200px) {
  /* line 33, ../scss/modules/main_header.scss */
  .main-header .main-nav {
    display: none;
  }
}
/* line 44, ../scss/modules/main_header.scss */
.main-header ul {
  float: right;
}
/* line 46, ../scss/modules/main_header.scss */
.main-header ul > li {
  float: left;
}
/* line 48, ../scss/modules/main_header.scss */
.main-header ul > li > a {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.125em;
  margin-left: 1.5625em;
  text-transform: uppercase;
}
/* line 54, ../scss/modules/main_header.scss */
.main-header ul > li > a:hover {
  border-bottom: 4px solid #00b6b6;
}
/* line 58, ../scss/modules/main_header.scss */
.main-header ul > li:first-child a {
  margin-left: 0;
}

@media (max-width: 768px) {
  /* line 1, ../scss/modules/main_content.scss */
  .main-content {
    padding-top: 150px;
  }
}
/* line 9, ../scss/modules/main_content.scss */
.main-content h3 {
  font-size: 1em;
}
/* line 13, ../scss/modules/main_content.scss */
.main-content a {
  color: #00b6b6;
  text-decoration: none;
}
/* line 17, ../scss/modules/main_content.scss */
.main-content a:hover {
  color: rgba(0, 182, 182, 0.8);
}

/* line 1, ../scss/modules/featured_posts.scss */
.featured-posts {
  width: 100%;
}
@media (max-width: 1200px) {
  /* line 1, ../scss/modules/featured_posts.scss */
  .featured-posts {
    width: 100%;
  }
}
/* line 10, ../scss/modules/featured_posts.scss */
.featured-posts p {
  font-size: 1em;
  line-height: 1.5;
}
/* line 15, ../scss/modules/featured_posts.scss */
.featured-posts h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
/* line 20, ../scss/modules/featured_posts.scss */
.featured-posts article {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  height: 260px;
  margin: 0 0 30px 0;
  overflow: hidden;
  position: relative;
  width: 48%;
}
@media (max-width: 992px) {
  /* line 20, ../scss/modules/featured_posts.scss */
  .featured-posts article {
    height: auto;
    width: 100%;
  }
  /* line 35, ../scss/modules/featured_posts.scss */
  .featured-posts article p {
    margin-bottom: 30px;
  }
}
/* line 40, ../scss/modules/featured_posts.scss */
.featured-posts article * {
  color: #1F1F1F;
}
/* line 44, ../scss/modules/featured_posts.scss */
.featured-posts article:nth-child(2n+3) {
  float: right;
}
/* line 48, ../scss/modules/featured_posts.scss */
.featured-posts article:hover {
  background-color: rgba(204, 204, 204, 0.08);
}
/* line 52, ../scss/modules/featured_posts.scss */
.featured-posts article header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}
/* line 55, ../scss/modules/featured_posts.scss */
.featured-posts article header a {
  font-size: 1.25em;
  text-decoration: none;
}
/* line 59, ../scss/modules/featured_posts.scss */
.featured-posts article header a:hover {
  color: #00b6b6;
}
/* line 65, ../scss/modules/featured_posts.scss */
.featured-posts article footer {
  background-color: rgba(31, 31, 31, 0.1);
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  position: absolute;
  text-align: right;
  width: 100%;
}
/* line 74, ../scss/modules/featured_posts.scss */
.featured-posts article footer > a {
  font-style: italic;
  font-size: 0.875em;
}

/* line 3, ../scss/modules/arquivos.scss */
.archives div {
  width: 100%;
}
/* line 13, ../scss/modules/arquivos.scss */
.archives h3 {
  margin-bottom: 10px;
}
/* line 17, ../scss/modules/arquivos.scss */
.archives article {
  width: 100%;
}
/* line 20, ../scss/modules/arquivos.scss */
.archives article + article {
  margin-top: 25px;
}
/* line 24, ../scss/modules/arquivos.scss */
.archives article:last-child {
  margin-bottom: 25px;
}
/* line 29, ../scss/modules/arquivos.scss */
.archives p {
  font-size: 0.9375em;
  line-height: 1.1;
}
/* line 34, ../scss/modules/arquivos.scss */
.archives a {
  color: #1F1F1F;
}
/* line 37, ../scss/modules/arquivos.scss */
.archives a:hover {
  color: #1F1F1F;
  opacity: 0.8;
}
/* line 43, ../scss/modules/arquivos.scss */
.archives .year {
  background: #00b6b6;
  box-shadow: 0 1px 3px #000;
  color: #fff;
  display: inline-block;
  font-size: 1.25em;
  margin-bottom: 25px;
  padding: 0.3125em 0.9375em;
  width: auto;
}

/* line 1, ../scss/modules/main_footer.scss */
.main-footer {
  background-color: #000;
  color: #C2C2C2;
  font-size: 1em;
  margin-top: 30px;
  overflow: hidden;
  padding: 30px 0;
  text-align: center;
  width: 100%;
}
/* line 12, ../scss/modules/main_footer.scss */
.main-footer h4 {
  border-bottom: 1px solid #00b6b6;
  padding-bottom: 5px;
}
@media (max-width: 1200px) {
  /* line 17, ../scss/modules/main_footer.scss */
  .main-footer .info {
    padding: 30px 2% 20px;
  }
}
/* line 26, ../scss/modules/main_footer.scss */
.main-footer .info a {
  color: #C2C2C2;
  font-size: 0.875em;
  text-decoration: none;
}
/* line 31, ../scss/modules/main_footer.scss */
.main-footer .info a:hover {
  color: #fff;
}
/* line 36, ../scss/modules/main_footer.scss */
.main-footer .info > nav {
  display: inline-table;
}
/* line 39, ../scss/modules/main_footer.scss */
.main-footer .info > nav:nth-child(2) {
  margin: 0 1%;
}
@media (max-width: 1200px) {
  /* line 36, ../scss/modules/main_footer.scss */
  .main-footer .info > nav {
    margin: 0;
    text-align: center;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  /* line 47, ../scss/modules/main_footer.scss */
  .main-footer .info > nav:nth-child(2) {
    padding: 0 4%;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  /* line 47, ../scss/modules/main_footer.scss */
  .main-footer .info > nav:nth-child(2) {
    padding: 0;
  }
}
@media (max-width: 1200px) and (max-width: 768px) {
  /* line 36, ../scss/modules/main_footer.scss */
  .main-footer .info > nav {
    display: inline-block;
    margin: 0.25em 0;
    text-align: center;
    width: 100%;
  }
  /* line 62, ../scss/modules/main_footer.scss */
  .main-footer .info > nav > ul {
    display: inline-block;
  }
  /* line 66, ../scss/modules/main_footer.scss */
  .main-footer .info > nav > h4 {
    border: none;
    color: #00b6b6;
    padding: 0;
  }
}

/* line 78, ../scss/modules/main_footer.scss */
.main-footer .info > nav li {
  float: left;
  margin-left: 15px;
}
/* line 82, ../scss/modules/main_footer.scss */
.main-footer .info > nav li:first-child {
  margin-left: 0;
}
/* line 87, ../scss/modules/main_footer.scss */
.main-footer .full {
  display: inline-block;
  margin-top: 1.25em;
  text-align: center;
  width: 100%;
}

/* line 9, ../scss/modules/post.scss */
.post .highlight {
  margin: 15px 0;
}
/* line 13, ../scss/modules/post.scss */
.post .date {
  color: #888;
  font-size: 0.75em;
  margin: 5px 0;
}

/* line 8, ../scss/modules/search_results.scss */
.search-results .tipue_search_content_title a {
  color: #00b6b6;
  font-size: 1.375em;
  text-decoration: none;
}
/* line 14, ../scss/modules/search_results.scss */
.search-results .tipue_search_content_text {
  font-size: 1em;
}
/* line 18, ../scss/modules/search_results.scss */
.search-results .tipue_search_content_loc {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
/* line 23, ../scss/modules/search_results.scss */
.search-results .tipue_search_content_loc a {
  color: #1F1F1F;
  font-style: italic;
}
/* line 29, ../scss/modules/search_results.scss */
.search-results ul {
  width: 100%;
}
/* line 35, ../scss/modules/search_results.scss */
.search-results li {
  border: 1px solid #428bca;
  color: #1F1F1F;
  float: left;
  padding: 10px;
}
/* line 42, ../scss/modules/search_results.scss */
.search-results li:first-child {
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 48, ../scss/modules/search_results.scss */
.search-results li:last-child {
  border-left: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 54, ../scss/modules/search_results.scss */
.search-results li > a {
  color: #1F1F1F;
  text-decoration: none;
}
/* line 59, ../scss/modules/search_results.scss */
.search-results .current, .search-results li:hover {
  background-color: rgba(0, 182, 182, 0.3);
  color: #1F1F1F;
}

/* line 65, ../scss/modules/search_results.scss */
#tipue_search_content {
  padding: 6px 12px;
}

/* line 1, ../scss/modules/pagination.scss */
.pagination {
  width: 100%;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
/* line 8, ../scss/modules/pagination.scss */
.pagination > li {
  display: inline;
}
/* line 11, ../scss/modules/pagination.scss */
.pagination > li > a,
.pagination > li > span {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #1F1F1F;
  float: left;
  line-height: 1.42857143;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}
/* line 24, ../scss/modules/pagination.scss */
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
/* line 31, ../scss/modules/pagination.scss */
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 37, ../scss/modules/pagination.scss */
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
  border-color: #dddddd;
}
/* line 45, ../scss/modules/pagination.scss */
.pagination > li > .active {
  z-index: 2;
  color: #ffffff;
  background-color: #00b6b6;
  border-color: #00b6b6;
  cursor: default;
}
/* line 52, ../scss/modules/pagination.scss */
.pagination > li > .active:hover {
  background-color: rgba(0, 182, 182, 0.5);
}

/* line 3, ../scss/modules/about.scss */
.about p {
  margin-bottom: 10px;
}
/* line 6, ../scss/modules/about.scss */
.about p.highlight {
  font-size: 3em;
  line-height: 1.2;
  margin-bottom: 20px;
}
/* line 12, ../scss/modules/about.scss */
.about p.ps {
  margin: 25px 0;
  font-style: italic;
}
/* line 22, ../scss/modules/about.scss */
.about h3 {
  margin: 30px 0;
}

/* line 1, ../scss/modules/comments.scss */
.comments {
  padding: 40px 0;
}

/* line 4, ../scss/modules/no_js.scss */
.no-js a {
  color: #00b6b6;
}
