html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.highlight {
  background: #ffffff; }

.highlight .c {
  color: #999988;
  font-style: italic; }

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

.highlight .k {
  font-weight: bold; }

.highlight .o {
  font-weight: bold; }

.highlight .cm {
  color: #999988;
  font-style: italic; }

.highlight .cp {
  color: #999999;
  font-weight: bold; }

.highlight .c1 {
  color: #999988;
  font-style: italic; }

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

.highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa; }

.highlight .ge {
  font-style: italic; }

.highlight .gr {
  color: #aa0000; }

.highlight .gh {
  color: #999999; }

.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

.highlight .gi .x {
  color: #000000;
  background-color: #aaffaa; }

.highlight .go {
  color: #888888; }

.highlight .gp {
  color: #555555; }

.highlight .gs {
  font-weight: bold; }

.highlight .gu {
  color: #aaaaaa; }

.highlight .gt {
  color: #aa0000; }

.highlight .kc {
  font-weight: bold; }

.highlight .kd {
  font-weight: bold; }

.highlight .kp {
  font-weight: bold; }

.highlight .kr {
  font-weight: bold; }

.highlight .kt {
  color: #445588;
  font-weight: bold; }

.highlight .m {
  color: #009999; }

.highlight .s {
  color: #dd1144; }

.highlight .na {
  color: teal; }

.highlight .nb {
  color: #0086b3; }

.highlight .nc {
  color: #445588;
  font-weight: bold; }

.highlight .no {
  color: teal; }

.highlight .ni {
  color: purple; }

.highlight .ne {
  color: #990000;
  font-weight: bold; }

.highlight .nf {
  color: #990000;
  font-weight: bold; }

.highlight .nn {
  color: #555555; }

.highlight .nt {
  color: navy; }

.highlight .nv {
  color: teal; }

.highlight .ow {
  font-weight: bold; }

.highlight .w {
  color: #bbbbbb; }

.highlight .mf {
  color: #009999; }

.highlight .mh {
  color: #009999; }

.highlight .mi {
  color: #009999; }

.highlight .mo {
  color: #009999; }

.highlight .sb {
  color: #dd1144; }

.highlight .sc {
  color: #dd1144; }

.highlight .sd {
  color: #dd1144; }

.highlight .s2 {
  color: #dd1144; }

.highlight .se {
  color: #dd1144; }

.highlight .sh {
  color: #dd1144; }

.highlight .si {
  color: #dd1144; }

.highlight .sx {
  color: #dd1144; }

.highlight .sr {
  color: #009926; }

.highlight .s1 {
  color: #dd1144; }

.highlight .ss {
  color: #990073; }

.highlight .bp {
  color: #999999; }

.highlight .vc {
  color: teal; }

.highlight .vg {
  color: teal; }

.highlight .vi {
  color: teal; }

.highlight .il {
  color: #009999; }

.container, .top, .main-header, .main-content, .main-footer .info {
  margin: 0 auto;
  width: 1142px; }

.top, .main-header .main-nav, .main-content, .main-footer .info, .search-results ul {
  *zoom: 1; }
  .top:before, .main-header .main-nav:before, .main-content:before, .main-footer .info:before, .search-results ul:before, .top:after, .main-header .main-nav:after, .main-content:after, .main-footer .info:after, .search-results ul:after {
    content: " ";
    display: table; }
  .top:after, .main-header .main-nav:after, .main-content:after, .main-footer .info:after, .search-results ul:after {
    clear: both; }

.featured-posts, .post, .search-results {
  width: 75%;
  float: left; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ol,
ul,
li {
  list-style: none; }

body {
  color: #1F1F1F;
  font-size: 100%;
  line-height: 1.5;
  font-family: Helvetica,Arial,sans-serif; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1; }

h2 {
  margin: 40px 0 20px; }

.icon-github:before {
  content: "\e808"; }

.icon-twitter:before {
  content: "\e807"; }

.icon-facebook:before {
  content: "\e805"; }

.icon-gplus:before {
  content: "\e806"; }

@font-face {
  font-family: fontello;
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/fontello.eot");
  src: url("/assets/fonts/fontello.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/fontello.woff") format("woff"), url("/assets/fonts/fontello.ttf") format("truetype"), url("/assets/fonts/fontello.svg?fontello") format("svg"); }
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em; }

.header {
  width: 100%;
  background-color: #B8B8B8;
  background-image: url(images/subtle_dots.png); }
  .header .wrap-header {
    background: #010101; }

.top {
  padding: 5px 0; }
  .top > ul {
    float: left; }
    .top > ul > li {
      display: inline; }
    .top > ul a {
      color: #fff;
      font-size: 1.125em;
      text-decoration: none;
      vertical-align: middle; }
      .top > ul a:hover {
        color: #00b6b6; }
  .top .pull-right {
    display: block;
    float: right;
    position: relative; }
    .top .pull-right fieldset {
      border: none;
      margin: 0;
      padding: 0; }
    .top .pull-right input[type="search"]::-webkit-search-decoration,
    .top .pull-right input[type="search"]::-webkit-search-cancel-button,
    .top .pull-right input[type="search"]::-webkit-search-results-button,
    .top .pull-right input[type="search"]::-webkit-search-results-decoration {
      display: none; }
    .top .pull-right input[type="search"] {
      -webkit-transition: all 0.7s ease-in-out;
      -moz-transition: all 0.7s ease-in-out;
      transition: all 0.7s ease-in-out;
      background-color: #666;
      border: none;
      color: #fff;
      font-size: 1em;
      padding: 5px 25px 5px 5px;
      width: 80px; }
      .top .pull-right input[type="search"]:focus {
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        width: 200px; }
    .top .pull-right button[type="submit"] {
      background: url(images/icons/search.png) left 2px no-repeat;
      background-color: #666;
      border: #666;
      height: 26px;
      margin: 1px 1px 0 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 26px; }

.main-header {
  padding: 15px 0; }
  .main-header a {
    color: #1F1F1F;
    text-decoration: none; }
  .main-header h1 {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2.375em;
    margin: 0;
    width: 200px; }
    .main-header h1 > a:hover {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      color: #00b6b6; }
  .main-header .main-nav {
    padding-top: 10px; }
  .main-header ul {
    float: right; }
    .main-header ul > li {
      float: left; }
      .main-header ul > li > a {
        font-family: 'Ubuntu Condensed', sans-serif;
        font-size: 1.125em;
        margin-left: 1.5625em;
        text-transform: uppercase; }
        .main-header ul > li > a:hover {
          border-bottom: 4px solid #00b6b6; }
      .main-header ul > li:first-child a {
        margin-left: 0; }

.main-content h2 {
  font-size: 1em;
  text-transform: uppercase; }

.featured-posts article {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
  height: 230px;
  margin: 0 40px 30px 0;
  overflow: hidden;
  position: relative;
  width: 45%; }
  .featured-posts article * {
    color: #1F1F1F; }
  .featured-posts article:nth-child(2n+3) {
    margin-right: 0; }
  .featured-posts article:hover {
    background-color: rgba(204, 204, 204, 0.08); }
  .featured-posts article header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px; }
    .featured-posts article header a {
      font-size: 1.25em;
      text-decoration: none; }
      .featured-posts article header a:hover {
        color: #00b6b6; }
  .featured-posts article footer {
    background-color: rgba(31, 31, 31, 0.1);
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    position: absolute;
    text-align: right;
    width: 100%; }
    .featured-posts article footer > a {
      font-style: italic;
      font-size: 0.875em; }

.main-aside {
  float: right;
  width: 25%; }
  .main-aside .aside-nav {
    border-radius: 15px;
    padding: 10px;
    border: 1px double rgba(0, 0, 0, 0.1); }
    .main-aside .aside-nav ul li {
      margin-top: 5px; }
      .main-aside .aside-nav ul li:first-child {
        margin-top: 0; }
    .main-aside .aside-nav a {
      color: #1F1F1F;
      text-decoration: none; }
      .main-aside .aside-nav a:hover {
        border-bottom: 2px solid #00b6b6; }

.main-footer {
  background-color: #000;
  color: #C2C2C2;
  font-size: 1em;
  margin-top: 30px;
  overflow: hidden;
  width: 100%; }
  .main-footer h4 {
    border-bottom: 1px solid #00b6b6;
    padding-bottom: 5px; }
  .main-footer .info {
    padding: 30px 0; }
    .main-footer .info a {
      color: #C2C2C2;
      font-size: 0.875em;
      text-decoration: none; }
      .main-footer .info a:hover {
        color: #fff; }
    .main-footer .info > nav {
      float: left;
      margin-left: 50px; }
      .main-footer .info > nav:first-child {
        margin-left: 0; }
      .main-footer .info > nav li {
        float: left;
        margin-left: 15px; }
      .main-footer .info > nav li:first-child {
        margin-left: 0; }
    .main-footer .info .pull-right {
      float: right; }

.post {
  padding-right: 60px; }
  .post h2 {
    font-size: 1.625em;
    text-transform: none; }

.search-results .tipue_search_content_title a {
  color: #00b6b6;
  font-size: 1.375em;
  text-decoration: none; }
.search-results .tipue_search_content_text {
  font-size: 1em; }
.search-results .tipue_search_content_loc {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 20px; }
  .search-results .tipue_search_content_loc a {
    color: #1F1F1F;
    font-style: italic; }
.search-results ul {
  width: 100%; }
.search-results li {
  border: 1px solid #428bca;
  color: #1F1F1F;
  float: left;
  padding: 10px; }
  .search-results li:first-child {
    border-right: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; }
  .search-results li:last-child {
    border-left: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; }
  .search-results li > a {
    color: #1F1F1F;
    text-decoration: none; }
.search-results .current, .search-results li:hover {
  background-color: rgba(0, 182, 182, 0.3);
  color: #1F1F1F; }

#tipue_search_content {
  padding: 6px 12px; }

.pagination {
  width: 100%;
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }
  .pagination > li {
    display: inline; }
    .pagination > li > a,
    .pagination > li > span {
      background-color: #ffffff;
      border: 1px solid #dddddd;
      color: #1F1F1F;
      float: left;
      line-height: 1.42857143;
      margin-left: -1px;
      padding: 6px 12px;
      position: relative;
      text-decoration: none; }
    .pagination > li:first-child > a, .pagination > li:first-child > span {
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      margin-left: 0; }
    .pagination > li:last-child > a, .pagination > li:last-child > span {
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px; }
    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      background-color: #eeeeee;
      border-color: #dddddd; }
    .pagination > li > .active {
      z-index: 2;
      color: #ffffff;
      background-color: #00b6b6;
      border-color: #00b6b6;
      cursor: default; }
      .pagination > li > .active:hover {
        background-color: rgba(0, 182, 182, 0.5); }
