.header {
	width: 100%;
}
.header-social-nav {
	background: #010101;

	> ul {
		@extend %container;

		> li {
			display: inline
		}
		a {
			text-decoration: none;
			color: #fff;
			&:hover {
				color: rgba(#fff, 0.9);
			}
		}
	}
}