.header {
	width: 100%;
	background-color: #B8B8B8;
	background-image: url(images/subtle_dots.png);

	.wrap-header {
		background: #010101;
	}
}
.top {
	@extend %container;
	@extend %clearfix;
	
	padding: 5px 0;

	> ul {
		float: left;

		> li {
			display: inline
		}
		a {
			color: #fff;
			font-size: em(18);
			text-decoration: none;
			vertical-align: middle;

			&:hover {
				color: $secondary-color; 
			}
		}
	}

	.pull-right {
		display: block;
		float: right;
		position: relative;

		fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}

		input[type="search"]::-webkit-search-decoration,
		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-results-button,
		input[type="search"]::-webkit-search-results-decoration {
		  display: none;
		}

		input[type="search"] {
			@include transition (all 0.7s ease-in-out);

			
			background-color: #666;
			border: none;
			color: #fff;
			font-size: em(16);
			padding: 5px 25px 5px 5px;
			width: 80px;
			
			&:focus {
				@include transition (all 0.7s ease-in-out);
				width: 200px;
			}
		}

		button[type="submit"] {	
			background: url(images/icons/search.png) left 2px no-repeat;
			background-color: #666;
			border: #666;
			height: 26px;
			margin: 1px 1px 0 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 26px;
		}
	}
}